#tete{
margin:auto;
width:100%;
background-color:#2f2828;
border-radius:4px;
text-align:center;
margin-top: 1px;
}
 
.titre{
font-size:20px;
font-family:arial;
color:#20B2AA	;
}

.menuh{
text-align:auto;

}

a{
font-size:20px;
text-decoration:none;
color:#ffffff;
}

#pied{
width:100%;
font-family:verdana;
border-radius:5px;
background-color : black;
text-align:center;
}

address{
text-align:center;
color:white;
}
.p1{
text-align:justify;
margin-top:1px;

}
.menuv{
float:left;
width:16%;
background-color:blue;
border-right:5px solid #F1C40F;
margin-left:2px;
width:16px;
font-family:verdana;
margin-right:1px;
border-radius:22px;

}


.contenu{
margin-left:23%;
margin-top:10px;
}

#corps{
margin : 4px;
width:38%;
float:right;

}
ul{
list-style:none;
}
li{
padding-bottom:10px;
border-bottom:1px solid white;
}
form{
width:400px;
margin:auto;
padding:2px;
background:white;
font-size:15px;
font-family:arial;
color:#008B8B;
position:fixed;
bottom:1px;
margin-left:470px;
margin-top:90px;
background:rgba(0,0,0,.5);
border-radius:30px;
}
h1 {
color:red;
margin-top:20px;
}
p{margin-top:-20px;
}


.oder{
margin-left:10px;
margin-top:10px;
}

.donne{
font-family:arial;
background-color:#34495E;
background:rgba(0,0,0,.5);
margin-left:300px;
width:30%;

border-radius:5px;
}
td{
color:#FFFFFF;
font-size:13px;
}

html::-webkit-scrollbar {
  width: 2rem;
  background-color:blue; 
}
html::-webkit-scrollbar-thumb {
    background: blue; 
}
html {
  scrollbar-color:black;
  scrollbar-width: thin;
}

